.google-login {
    margin-top: 50px;
  }
  
  #google-sign-in-btn {
    background-color: #4285F4;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    width: 250px;
    margin: 0 auto;
  }
  
  #google-sign-in-btn:hover {
    background-color: #357ae8;
  }
  