body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    padding: 1rem;
    color: white;
}

button {
    padding: 10px;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.hidden {
    display: none;
}

.habit-item {
    background: white;
    padding: 10px;
    margin: 10px auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
